body {
  background: #fbfbfb;
  color: #111111;
  margin-top: 5rem;
}

h1, h3, h4, h5, h6 {
  color: #444444;
}

h2 {
  color: #191919;
}

h3 {
  color: #101010;
}

/* Current Temps card colouring */
.bg-success .display-2 {
    color: #f6f6f6;
}
.bg-success {
    background-color: #39c359;
}

/* Last saved Temps card colouring */
.bg-info .display-2 {
  color: #f6f6f6;
}

.card-deck .card {
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    border-radius: 30px;
}

.btn-primary {
    display: block;
    margin: 0 0 auto auto;
    color: #fff;
    background-color: #3e79b9;
    border-color: #1a1b1d;
    border-radius: 5px;
    padding: 3px;
    font-style: oblique;
}

.refresh-button {
    border-radius: 5px;
    padding: 3px;
    font-style: oblique;
}

.chng-name .btn-info{
    display: block;
    margin: 0 0 auto auto;
    color: #fff;
    background-color: #3e79b9;
    border-color: #1a1b1d;
    border-radius: 5px;
    padding: 4px;
    font-style: oblique;
}

.fa, .fas {

    font-weight: 900;
    padding: 0px 5px;
    color: white;

}

.fa-cogs{

    font-weight: 900;
    padding: 0px 5px;
    color: #cbd5db;
}
.fa-cogs:hover{
    font-weight: 900;
    padding: 0px 5px;
    color: #ffffff;
}

.fa-laptop,
.fa-database,
.fa-wifi,
.fa-temperature-low{
    color: #444444;
}

.btn-primary:hover {
    background-color: #1a4778;
}

.bg-steel {
  background-color: #300081;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
} 
.navbar-dark .navbar-brand .fas:hover,
.navbar-dark .navbar-brand:hover
 {
    color: #cbd5db;
} 

.current_temps .table {
    text-align: center;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
