{% extends "layout.html" %}
{% block content %}
<div class="container">
    {% if temp_data %}
        <div class="card-deck">
            {% for sensor_name, sensor_id, time, temp  in temp_data %}
            <div class="card bg-success">
                <div class="card-body text-center">
                    <p class="card-text"><h3><small><b>{{ sensor_name }}</b></small></h3></p>
                    <p class="card-text"><h1 class="display-2">{{ temp }}<small>&#8451</small></h1></p>
                    <p class="card-text">@ {{ time }}</p>
                    <p class="card-text"><small><i>({{ sensor_id }})</i></small></p>
                </div>
            </div>
            {% endfor%}
        </div>
    {% else %}
        </br><h3>No sensors currently connected</br>
        </br>                      or</br>
        </br>The system has recently been restarted, please try again......</h3>
    {% endif %}
</div>
{% endblock content %}
