{% extends "layout.html" %}
{% block content %}
<!-- import plugin script -->
<script src='static/Chart.min.js'></script>

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h3><i class="fas fa-laptop"></i> Platform Information</h3>
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Platform Attribute</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Operating System</td>
                        <td>{{ os }}</td>
                    </tr>
                    <tr>
                        <td>Chipset Architecture</td>
                        <td>{{ architecture }}</td>
                    </tr>
                    <tr>
                        <td>OS Kernel Version</td>
                        <td>{{ oskernel }}</td>
                    </tr>
                    <tr>
                        <td>Firmware Version</td>
                        <td>{{ firmwareversion }}</td>
                    </tr>
                    <tr>
                        <td>System Up Time</td>
                        <td>{{ uptime }}</td>
                    </tr>
                </tbody>
            </table>
            </br>
            <h3><i class="fas fa-database"></i> Storage Information</h3>
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Disk/SD Card Capacity</td>
                        <td>{{ disk_capacity }} GB</td>
                    </tr>
                    <tr>
                        <td>Current Free Space</td>
                        <td>{{ disk_free_space }} GB</td>
                    </tr>
                    <tr>
                        <td colspan="2"><canvas id="myChart" width="450" height="300"></canvas>
                        <a href="{{ url_for('clear_log_archive') }}"><button type='button' class='btn btn-primary' id='b1'>Clear Log File Archive</button></a></td>
                    </tr>
                    </tr>
                        <td>Current Log File</td>
                        <td>{{ log_file }} MB</td>
                    </tr>
                    <tr>
                        <td>Log File Archive</td>
                        <td>{{ logs_size }} MB</td>
                    </tr>

                </tbody>

            </table>
            </br>

            <script>
                Chart.defaults.global.responsive = false;
                Chart.defaults.global.animation.duration = 2500;
                Chart.defaults.pie.animation.animateScale = true;


                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ["Used", "Free Space"],
                        datasets: [{
                            backgroundColor: [
                            "#e74c3c",
                            "#2ecc71"
                            ],
                            borderWidth: 2,
                            borderColor: "#202020",
                            data: [{{ disk_capacity-disk_free_space }}, {{ disk_free_space }}]
                        }]
                    },
                    options : {
                        legend: {
                            display: true,
                            position: 'right',
                            labels: {
                                fontSize: 14,
                                fontColor: 'rgb(30, 30, 30)',
                                padding: 20,
                                boxWidth: 20
                            }
                        },
                        layout: {
                            padding: {
                                left: 60,
                                right: 0,
                                top: 5,
                                bottom: 0
                            }
                        },
                        cutoutPercentage: 50
                    }
                });
            </script>
            </br>
            <h3><i class="fas fa-wifi"></i> Wireless Network Status</h3>
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Attribute</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Network Connection SSID</td>
                        <td>{{ ssid }}</td>
                    </tr>
                    <tr>
                        <td>Network Signal Level</td>
                        <td>{{ level_perc }} % ({{ level }} dB)</td>
                    </tr>
                    <tr>
                        <td>Network Signal Quality</td>
                        <td>{{ quality }} %</td>
                    </tr>
                    <tr>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>IP Address</td>
                        <td>{{ ip }}</td>
                    </tr>
                    <tr>
                        <td>Device Hostname</td>
                        <td>{{ hostname }}</td>
                    </tr>
                </tbody>
            </table>
            </br>
            {% if sensors_list %}
                <h3><i class="fas fa-temperature-low"></i> Temperature sensors connected</h3>
                <table class="table table-bordered table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Sensor ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sensor in sensors_list %}
                            <tr>
                                <td>{{ sensor }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>No Temperature sensors detected!</h3>
            {% endif %}
            </br>
            </br>
            <a href="{{ url_for('clear_app_settings') }}"><button type='button' class='btn btn-warning' id='b1'>Reset All Settings to Default!</button></a>
        </div>
    </div>
</div>
{% endblock content %}
