{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md8">
            <h3>Platform Information</h3>
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Platform Attribute</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Operating System</td>
                        <td>{{ os }}</td>
                    </tr>
                    <tr>
                        <td>Chipset Architecture</td>
                        <td>{{ architecture }}</td>
                    </tr>
                    <tr>
                        <td>OS Kernel Version</td>
                        <td>{{ oskernel }}</td>
                    </tr>
                    <tr>
                        <td>Firmware Version</td>
                        <td>{{ firmwareversion }}</td>
                    </tr>                    
                    <tr>
                        <td>Up Time</td>
                        <td>{{ uptime }}</td>
                    </tr>
                </tbody>
            </table>
            </br>
            <h3>Wireless Network Status</h3>
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Attribute</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Device Hostname</td>
                        <td>{{ hostname }}</td>
                    </tr>
                    <tr>
                        <td>IP Address</td>
                        <td>{{ ip }}</td>
                    </tr>
                    <tr>
                        <td>Network Connection SSID</td>
                        <td>{{ ssid }}</td>
                    </tr>
                    <tr>
                        <td>Network Signal Quality</td>
                        <td>{{ quality }} %</td>
                    </tr>
                    <tr>
                        <td>Network Signal Level</td>
                        <td>{{ level }} dB</td>
                    </tr>
                </tbody>
            </table>
            </br>
            {% if sensors_list %}
                <h3>Temperature sensors connected</h3>
                <table class="table table-bordered table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Sensor ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sensor in sensors_list %}
                            <tr>
                                <td>{{ sensor }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>No Temperature sensors detected!</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
