{% extends "layout.html" %}
{% block content %}
    <script src='static/Chart.min.js'></script>
    <!-- chart canvas element -->
    <canvas id="Temps_Chart" width="1200" height="800"></canvas>

    <script>
        // Global parameters:
        // do not resize the chart canvas when its container does (keep at 600x400px)
        Chart.defaults.global.responsive = true;
        Chart.defaults.global.animation.duration = 2000;
        Chart.defaults.scatter.spanGaps = true;

        // get chart canvas
        var ctx = document.getElementById("Temps_Chart").getContext("2d");
        // create the chart using the chart canvas
        var myChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets : [{
                    label: '{{ series1 }}',
                    data: {{ temps1 }},
                    fill: false,
                    showLine: true,
                    lineTension: 0.5,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    cubicInterpolationMode: 'monotone',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 2,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 0,         //Hide point on line
                    pointHitRadius: 10
                },
                {
                    label: '{{ series2 }}',
                    data: {{ temps2 }},
                    fill: false,
                    showLine: true,
                    lineTension: 0.5,
                    backgroundColor: "rgba(225,50,50,0.4)",
                    borderColor: "rgba(200,50,50,1)",
                    borderCapStyle: 'butt',
                    cubicInterpolationMode: 'monotone',
                    pointBorderColor: "rgba(200,50,50,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 2,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(200,50,50,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 0,         //Hide point on line
                    pointHitRadius: 10
                },
                {
                    label: '{{ series3 }}',
                    data: {{ temps3 }},
                    fill: false,
                    showLine: true,
                    lineTension: 0.5,
                    backgroundColor: "rgba(50,50,200,0.4)",
                    borderColor: "rgba(50,50,225,1)",
                    borderCapStyle: 'butt',
                    cubicInterpolationMode: 'monotone',
                    pointBorderColor: "rgba(50,50,225,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 2,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(50,50,200,1)",
                    pointHoverBorderColor: "rgba(220,220,200,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 0,         //Hide point on line
                    pointHitRadius: 10
                }]
            },
            options: {
                title: {
                    display: true,
                    position: 'top',
                    fontSize: 36,
                    fontStyle: 'normal',
                    fontColor: '#020370',
                    padding: 10,
                    text: '{{chart_title}}'
                },
                legend: {
                    display: true,
                    position: 'top',
                    padding: 15,
                    labels: {
                        fontSize: 14,
                        fontColor: 'rgb(30, 30, 30)',
                        padding: 20,
                        boxWidth: 20
                    }
                },
                layout: {
                    padding: {
                        left: 10,
                        right: 10,
                        top: 0,
                        bottom: 10
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false,
                            //suggestedMin: 5,
                            //suggestedMax: 10,
                            stepSize: 1,
                            fontSize: 13,
                            fontStyle: 'normal'
                        },
                        scaleLabel: {
                            display: true,
                            fontSize: 14,
                            fontStyle: 'normal',
                            labelString: 'Temperature DegC'
                        },
                        gridLines: {
                            tickMarkLength: 5,
                            //zeroLineWidth: 1,
                            zeroLineColor: 'rgba(0, 0, 0, 0.75)'
                        }
                    }],
                    xAxes: [{
                        //type: 'time',
                        //distribution: 'linear',
                        ticks: {
                            // Convert UNIX time back to something meaningful
                            callback: function(value, index, values) {
                                    full = new Date(value);
                                    day = full.getDate();
                                    month = full.getMonth();
                                    year = full.getFullYear();
                                    hours = full.getHours();
                                    hours = ("0"+hours).slice(-2); // Pad with leading zero
                                    minutes = full.getMinutes();
                                    minutes = ("0"+minutes).slice(-2); // Pad with leading zero
                                    return (day + '/' + month + '/' + year + ' ' + hours + ':' + minutes);
                                },
                                {% if xaxis %}
                                    min: {{ xaxis[0] }},
                                    max: {{ xaxis[1] }},
                                {% else %}

                                {% endif %}
                                //stepSize: 3600000,
                                fontSize: 12,
                                fontStyle: 'normal'
                        },
                        scaleLabel: {
                            display: true,
                            fontSize: 13,
                            fontStyle: 'normal',
                            labelString: 'Time'
                        },
                        gridLines: {
                            display: false,
                            //zeroLineWidth: 1,
                            zeroLineColor: 'rgba(0, 0, 0, 0.5)'
                        },
                    }]
                }
            }
        //showLine: true
        });
    </script>
{% endblock content %}
